body { font-family: Arial }

A:link    { font-size: 90%; text-decoration: none }
A:active  { font-size: 90%; text-decoration: none }
A:visited { font-size: 90%; text-decoration: none }
A:hover   { font-size: 90%; text-decoration: underline; }

.small { font-size: 80% }
.oneline { display: inline; }
.header { color: black; font-variant: small-caps; }
.error { color: red; font-weight: bolder; }
.green { color: green; font-weight: bolder; }
.red { color: red; font-weight: bolder; }
.post_link { color: white; background-color: #cccccc; border-style: solid; border-width: thin; border-color: grey; padding-left: 0.5em; padding-right: 0.5em; padding-top: 0.1em; padding-bottom: 0.1em; margin: 0.5em 0.2em 0.5em 0.2em }
.breadcrumbs { color: white; background-color: #bbddbb; border-style: solid; border-width: thin; border-color: grey; padding-left: 0.5em; padding-right: 0.5em; padding-top: 0.1em; padding-bottom: 0.1em; margin: 0.5em 0.1em 0.5em 0.1em }
