body {
	color: #393733;
	font: 83%/1.4 arial, helvetica, sans-serif;
	margin: 0;
	background: #fff;
}

#sidelist{
	color: #2D5381;
	font-size: 75%;
}

#sidelist .slselected{
	font-weight: bold;
	font-size: 105%;
	color: #FF4C11;
}

.table_black{
	margin-top: 10px;
	color: #000000;
	background: #C4C4C4;
	font-size: 85%;
	/*font-weight: bold;*/
}

.table_blacksm{
	margin-top: 10px;
	color: #000000;
	background: #C4C4C4;
	font-size: 80%;
	/*font-weight: bold;*/
}

#callingRulesTable{
	color: #4C4C4C;
	font-size: 8.5pt;
	background: #C4C4C4;
}

#callingRulesTable tr{
	background: #FFFFFF;
}

#callingRulesTable td{
	font-size: 8pt;
	vertical-align: top;
}

#userstable{
	color: #4C4C4C;
	font-size: 75%;
	background: #C4C4C4;
}

#userstable tr{
	background: #FFFFFF;
}

#serviceproviderstable{
	color: #4C4C4C;
	font-size: 75%;
	background: #C4C4C4;
}

#serviceproviderstable tr{
	font-size: 115%;
	background: #FFFFFF;
}

.userdetails{
	margin-top: 10px;
	font-size: 75%;
}

#copyright{
	font-size: 70%;
	text-align: center;
	padding: 5px 0px 0px 0px;
	
}

.timeinfo{
	font-size: 85%;
	padding: 5px 0px 0px 0px;
}

.heading{
	font-size: 115%;
	padding: 5px 0px 9px 0px;
	color: #FF4C11;
}

.subheading{
	font-size: 85%;
	padding: 0px 0px 5px 0px;
}

.font85{
	font-size: 85%;
}

#loginform{
	font-size: 115%;
	padding: 15px 0px 5px 0px;
	color: #4C4C4C;
}

.field_text{
	font-size: 9pt;
}

.input9 {
	font-size: 9pt;
	border:1px solid; 
	padding : 0px 0px 0px 3px;
}

.input9_hilight {
	background-color:#FFC58A;
	font-size: 9pt;
	border:1px solid; 
	padding : 0px 0px 0px 3px;
}

.input9:focus {
	background-color:#FFC58A;
}

.splbutton {
	font-size:12px;
	background:#FFFFFF none repeat scroll 0%; 
	border:1px solid #8A8A8A; 
	padding:1px 5px 1px 5px; text-decoration:none;
}

.splbutton:hover {
	background:#F3640D none repeat scroll 0%;
	color:#FFFFFF;
	text-decoration:none;
}

