.comboMainDiv{
	padding		: 2px 2px 2px 2px;
	border-style 	: none solid solid none;
	border-color	: #4d7891;
	border-width	: 0px 1px 1px 0px;
	background-color	: #ccdfeb;
	width		: 450px;
	height		: 160px;
	overflow		: auto;
	position		:absolute;
	z-index		: 10000;
}

.comboMainDiv div {
	padding		: 0px 0px 2px 5px;
	border-width	: 0px 0px 0px 0px;
	font-family 	: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size        	: 115%;
	/*color		: #0c5584;*/
	color		: #0000CC;
}

.comboMainDiv div:hover {
	background: #9ac2db;
}


div.accordionTabTitleBar {
	font-size : 12.5px;
	padding : 2px 2px 2px 2px;
	border-style : solid none solid none;
	border-top-color : #BDC7E7;
	border-bottom-color : #182052;
	border-width : 1px 0px 1px 0px;
	height : 16px;
	cursor: pointer;
	background-color : #6B79A5;
	color : #CED7EF;
	font-weight :normal;
}

div.accordionTabTitleBar:hover {
	font-weight:bold;
	background-color : #63699C;
	color            : #FFFFFF;
}

.accordionTabContentBox {
	font-size        : 11px;
	border           : 1px solid #1f669b;
	border-top-width : 0px;
	padding : 0px 8px 0px 8px;
	cursor: default;
	color : #000000;
}

body,td,a,p,.h{font-family:arial,sans-serif,Helvetica,Trebuchet MS; font-size   : 10px; cursor: default;}

a:visited, a:link, a:hover  {
	font-family : Trebuchet MS, Arial, Helvetica, sans-serif;
}

a:visited, a:link {
   text-decoration : none;
   color           : black;
}

a:hover  {
	color : black;
	text-decoration : underline;
}

h2, .header {
   font-weight : bold;
   font-size   : 13px;
}

.mainscreenTitleBar {
	font-size           : 12px;
	padding             : 4px 6px 4px 6px;
	border-style        : solid none solid none;
	border-top-color    : #BDC7E7;
	border-bottom-color : #182052;
	border-width        : 1px 0px 1px 0px;
	background-color : #ef8700;
	color            : #ffffff;
	width: 550px;
}

.mainscreenTooltipBar {
	font-size           : 12px;
	padding             : 4px 6px 4px 6px;
	border-style        : solid none solid none;
	border-top-color    : #BDC7E7;
	border-bottom-color : #182052;
	border-width        : 1px 0px 1px 0px;
	background-color : #ef8700;
	color            : #ffffff;
	width: 250px;
}

.mainscreenTitleBarHover {
	font-size        : 11px;
	background-color : #1f669b;
	color            : #000000;
}

.mainscreenContentBox {
	font-size        : 11px;
	border           : 0px;
	padding          : 0px 8px 0px 2px;
}

.mainscreenBorderBox {
	font-size        : 11px;
	border           : 1px solid #1f669b;
	border-top-width : 0px;
	border-left-width : 0px;
	border-bottom-width: 0px;
	padding          : 0px 8px 0px 8px;
}

.mainSettings {
	font-size	: 8px;
}

.mainscreenTable {
	border : 0;
	/*height          : 426px;*/
	width	: 536px; 
	font-size: 11px;
}

.statusbar {
   font-size        : 11px;
   border           : 1px solid #1f669b;
   padding          : 0px 8px 0px 8px;
   background-color : #ffff00;
}

td {
	font-size   : 14px;
}

.input {
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size: 8pt;
}

.input8 {
	font-size: 8pt;
	border:1px solid; 
	padding : 0px 0px 0px 3px;
}

.input8:focus {
	background-color:#FFC58A;
}

.input8_hilight {
	background-color:#FFC58A;
	font-size: 8pt;
	border:1px solid; 
	padding : 0px 0px 0px 3px;
}

.input9 {
	font-size: 9pt;
	border:1px solid; 
	padding : 0px 0px 0px 3px;
	/*
	border-top-color:#999;
	border-left-color:#999;
	border-right-color:#666;
	border-bottom-color:#666;
	*/
}

.input9:focus {
	background-color:#FFC58A;
}

.input9_hilight {
	background-color:#FFC58A;
	font-size: 9pt;
	border:1px solid; 
	padding : 0px 0px 0px 3px;
}

.input9_disabled {
	background-color : #EFEFEF;
	font-size: 9pt;
	border:1px solid; 
	padding : 0px 0px 0px 3px;
}

.input10 {
	font-size: 10pt;
	border:1px solid; 
}

.field_text{
	font-size: 9pt;
	cursor: help;
}

.buttonbold{
	font-weight:bold;
	font-family:helvetica,sans-serif,'trebuchet ms';
	font-size: 8pt;
	height: 20;
 }

.chanlist_small{
	border         : 1px solid #1f669b;
	overflow		: auto;
	background-color : #f1f1f1;
}

.table_black{
	margin-top: 10px;
	color: #000000;
	background: #C4C4C4;
	font-size: 85%;
	/*font-weight: bold;*/
}

.table_blacksm{
	margin-top: 10px;
	color: #000000;
	background: #C4C4C4;
	font-size: 60%;
	/*font-weight: bold;*/
}

#callingRulesTable{
	color: #4C4C4C;
	font-size: 8.5pt;
	background: #C4C4C4;
}

#callingRulesTable tr{
	background: #FFFFFF;
}

#callingRulesTable td{
	font-size: 8pt;
	vertical-align: top;
}


.field_text9{
	font-size: 10pt;
}

#serviceproviderstable{
	color: #4C4C4C;
	font-size: 75%;
	background: #C4C4C4;
}

#serviceproviderstable tr{
	background: #FFFFFF;
}

.splbutton {
	font-size:12px;
	background:#FFFFFF none repeat scroll 0%; 
	border:1px solid #8A8A8A; 
	padding:1px 5px 1px 5px; text-decoration:none;
}
.splbutton:hover {
	background:#F3640D none repeat scroll 0%;
	color:#FFFFFF;
	text-decoration:none;
}

/* From astman.css - for use in status tab to show active channels */
.chanlist {
	border           : 1px solid #1f669b;
	height			: 380px;
	overflow		: auto;
	background-color : #f1f1f1;
	width			: 524;
}

.chantable {
	border           : 0px;
	background-color : #f1f1f1;
	width			: 99%;
}

.labels {
	background-color : #000000;
	color : #ffffff;
}

.chanlisteven {
	background-color : #fff8e4;
}

.chanlistodd {
	background-color : #f0f5ff;
}	

.chanlistselected {
	background-color : #ffb13d;
}

.light {
	color : #717171;
}
/* end of - From astman.css */


/* for DHTML tabs */
  a.tab { 
	border-bottom: 0px solid #778;
	font: bold 11px arial,Verdana, sans-serif;
	margin: 0;
	display: inline;
	padding: 2px 0.5em;
	margin-left: 3px;
	border: 0px solid #778;
	background: #DDE;
	text-decoration: none;
	color: #448; 
	height: 11px;
 }

a.tab:visited { 
		color: #448; 
}

a.tab:hover { 
	color: #000;
	background: #AAE;
	border-color: #227;
	text-decoration: none;
}

  a.tabselected { 
	border-bottom: 4px solid #000000;
	font: bold 13px arial,Verdana, sans-serif;
	margin:0pt 0pt 0pt 3px;
	padding:2px 0.5em;
	display: inline;
	border: 0px solid #778;
	background: #FFF;
	text-decoration: none;
	color: #448; 
	height: 11px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:4px;
 }

div.tooltip_round {
/*   background:#C0C081;*/
   background:#BFBFBF;
   margin:6pt 5pt 0pt 6pt;
}

/* for right click menus */
.mymenu {
	position:absolute;
	text-align:left;
	width:160px;
	border:1px solid black;
	background-color: #FFFFFF;
	line-height:20px;
	cursor:default;
	z-index: 1000;
	font-family: Arial, Helvetica, sans-serif,Verdana;
	font-size: 10pt;
}

.mymenu div {
	width:'100%';
	padding-left:5px;
	background-color: #FFFFFF;
}

.mymenu div:hover {
	background-color: #EFEFEF;
}

/* End of right click menus */

.mainscreenTooltipBar span{
	font-size:11px;
	font-weight : bold;
	border:1px solid #FFFFFF;
	color:#FFFFFF;
	padding:1px 5px 1px 5px;
	text-decoration:none;
	cursor: pointer;
	cursor: hand;
}

.mainscreenTooltipBar span:hover {
	border-color: #000;
	color:#000000;
}


span.downmenubutton {
	font-size:12px;
	background:#FFFFFF; 
	border:1px solid #8A8A8A; 
	padding:1px 5px 1px 5px;
	text-decoration:none;
}
span.downmenubutton:hover {
	background:#F3640D;
	color:#FFFFFF;
	text-decoration:none;
}
