<h1>Dashboard</h1>
<br/>
<div><%= button_to "Set Initial Config", { :action => "edit_default_config" } %></div>
<div><%= button_to "Reset client configuration", { :action => "reset_config" } %></div>
