<h1>Dashboard</h1>
<br/>
<div><%= button_to "Set Initial Config", { :action => "edit", :id=>InitialConfig::DEFAULT_MAC } %></div>
<div><%= button_to "Reset configuration", { :action => "reset_config" } %></div>
