<% for column in InitialConfig.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @initial_config.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @initial_config %> |
<%= link_to 'Back', :action => 'list' %>
