<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<!-- $Id: example.service 948 2005-11-12 18:55:52Z lennart $ -->

<!--
  Inveneo workstation configuration service. Based on example.service
  from Avahi-daemon Debian package.
-->

<!-- See avahi.service(5) for more information about this configuration file -->

<service-group>
  <name>Inveneo Workstation Configuration Service</name>

  <service protocol="ipv4">
    <type>_org-inveneo-configuration._tcp</type>
    <port>8088</port>
  </service>

</service-group>
